@mixin btn-about {
    background-image: $linear-gradient;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 10px 10px;
    color: #fff;
    font-weight: 600;
    box-shadow: 4px 4px 6px #aaa;
    cursor: pointer;
}

@mixin cercle {
    background-color: $color-primary;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid $color-primary;
    display: table-cell;
    vertical-align: middle;
}

@mixin coeur {
    animation: coeur 0.3s ease-in-out;
    -webkit-animation: coeur 0.3s ease-in-out;
    display: inline-block;
    opacity: 1;
    background: $linear-gradient;
    -webkit-background: $linear-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}